<div class="container about-container">
  <h3><i class="bi bi-capsule"></i>さぷリカバーとは？</h3>
  <div class="description">
    <p><span>さぷリカバーは健康診断の記録を入れることで、</span><span>おすすめのサプリを提示してくれます。</span></p>
    <p>ただし、サプリメントは健康補助食品です。</p>
    <p><span>用法用量を守って正しい服用の上、</span><span>運動や食生活など総合的な生活の見直しも行いましょう。</span></p>
  </div>
</div>