<div class="container index-container">
  <div class="description">
    <p>さぷリカバーは健康診断の記録を入れることで、</p>
    <p>あなたにあったサプリをおすすめしてくれます。</p>
  </div>
  <div class="checkup-area">
      <div class="checkup-btn">
        <%= link_to '簡易版', new_user_easy_medical_checkups_path(@user), class:'btn btn-easy-checkup text-nowrap', id:'easy_checkup' %>
        <p>検診結果を一部いれる</p>
      </div>
      <% if @user.easy_medical_checkup.present? %>
        <div class="checkup-btn">
          <%= link_to '完全版', new_user_full_medical_checkups_path(@user), class:'btn btn-full-checkup text-nowrap', id:'after_full_checkup' %>
          <p>検診結果を全部いれる</p>
        </div>
      <% else %>
      <div class="checkup-btn cursor-not-allowed">
        <%= link_to '完全版', new_user_full_medical_checkups_path(@user), class:'btn btn-full-checkup disabled text-nowrap', id:'before_full_checkup' %>
        <div class="before-checkup-warning">
          <p><s>検診結果を全部いれる</s></p>
          <p> 簡易版入力後に使えるよ！</p>
        </div>
      </div>
    <% end %>
  </div>
</div>