<div class="index-container">
  <div class="description">
    さぷリカバーは健康診断の記録を入れることで、
    あなたにあったサプリをおすすめしてくれます。
  </div>
  <div class="checkup-area">
    <% if @user.easy_medical_checkup.present? %>
      <div class="checkup-btn">
        <%= link_to '簡易版', new_user_easy_medical_checkups_path(@user), class:'btn btn-easy-checkup', id:'after_easy_checkup' %>
        <p>検診結果を一部いれる</p>
      </div>
      <div class="checkup-btn">
      <%= link_to '完全版', new_user_full_medical_checkups_path(@user), class:'btn btn-full-checkup', id:'after_full_checkup' %>
      <p>検診結果を全部いれる</p>
      </div>
    <% else %>
    <div class="checkup-btn">
      <%= link_to '簡易版', new_user_easy_medical_checkups_path(@user), class:'btn btn-easy-checkup', id:'before_easy_checkup' %>
      <p>検診結果を一部いれる</p>
    </div>
    <div class="checkup-btn">
      <%= link_to '完全版', new_user_full_medical_checkups_path(@user), class:'btn btn-full-checkup', id:'before_full_checkup' %>
      <div class="before-checkup-warning">
        <p>検診結果を全部いれる</p>
        <p> 簡易版入力後に使えるよ！</p>
      </div>
    </div>
    <% end %>
  </div>
</div>