  <div class="m-5">
    さぷリカバーは健康診断の記録を入れることで、
    あなたにあったサプリをおすすめしてくれます。
  </div>
  <div class="m-5">
    <%= link_to '完全版', '#', class:'btn btn-primary btn-lg' %>
    <strike>検診結果を全部いれる（所要時間5分）</strike>実装中
    <br>
    <%= link_to '簡易版', new_user_easy_medical_checkups_path(@user), class:'btn btn-success btn-lg' %>
    検診結果を一部いれる（所要時間3分）
  </div>