<div class="row d-flex flex-column">
  <div class="description">
    <p>さぷリカバーは健康診断の記録を入れることで、</p>
    <p>あなたにあったサプリをおすすめしてくれます。</p>
  </div>
  <div class="row checkup-area mt-5">
      <div class="checkup-btn d-grid gap-2 col-sm-5 mx-auto">
        <%= link_to '簡易版', new_user_easy_medical_checkups_path(@user), class:'btn btn-easy-checkup text-nowrap d-md-block mt-md-0', id:'easy_checkup' %>
        <p>検診結果を一部いれる</p>
      </div>
      <% if @user.easy_medical_checkup.present? %>
        <div class="checkup-btn d-flex align-items-center">
          <%= link_to '完全版', new_user_full_medical_checkups_path(@user), class:'btn btn-full-checkup text-nowrap me-3 d-grid gap-2 d-md-block mt-md-0', id:'after_full_checkup' %>
          <p>検診結果を全部いれる</p>
        </div>
      <% else %>
      <div class="checkup-btn cursor-not-allowed d-flex align-items-center">
        <%= link_to '完全版', new_user_full_medical_checkups_path(@user), class:'btn btn-full-checkup disabled text-nowrap me-3 d-grid gap-2 d-md-block mt-md-0', id:'before_full_checkup' %>
        <div class="before-checkup-warning">
          <p><s>検診結果を全部いれる</s></p>
          <p> 簡易版入力後に使えるよ！</p>
        </div>
      </div>
    <% end %>
  </div>
</div>