<div class="container footer-container">
  <ul class="footer-list">
    <li><%= link_to '利用規約', terms_of_use_path %></li>
    <li><%= link_to 'プライバシーポリシー',privacy_policy_path  %></li>
  </ul>
  <p><small>© 2023-2024 - supprecover. All rights reserved.</small></p>
</div>
