/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  header
 .navbar {
  padding: 0 0;
 }

 .progress-container {
  background: white;
  position: sticky;
  top: 0;
  z-index: 98;
 }

 .progress-bar{
  height: 5px;
  width: 0%;
  background: blue;
 }

// common

 .btn {
  color: #fff;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}


 .btn-quit {
  background-color: #19cbdfd7;
  border-bottom: 5px solid #10818ed7;
  &:hover {
    margin-top: 3px;
    background-color: #1bdff5d7;
    border-bottom: 2px solid #10818ed7;
    transition: all 0.3s ease
  }
}
 .btn-agree {
  background-color: #df19dfd7;
  border-bottom: 5px solid #991199d7;
  &:hover {
    margin-top: 3px;
    background-color: #fc20fcd7;
    border-bottom: 2px solid #991199d7;
    transition: all 0.3s ease
  }
 }
 .cursor-not-allowed {
  cursor: not-allowed;
 }

  .btn-easy-checkup {
    background-color: #17cf95b8;
    border-bottom: 5px solid #094e389c;
    &:hover {
      margin-top: 3px;
      background-color: #1ef6b2;
      border-bottom: 2px solid #094e389c;
      transition: all 0.3s ease
    }
  }
  .btn-full-checkup {
    background-color: #1764b8;
    border-bottom: 5px solid #0b2f56;
    &:hover {
      margin-top: 3px;
      background-color: #29a3ef;
      border-bottom: 2px solid #0b2f56;
      transition: all 0.3s ease
    }
  }


  .btn-signup {
    background-color: #20da45;
    border-bottom: 5px solid #15942e;
    &:hover {
      margin-top: 3px;
      background-color: #27f751;;
      border-bottom: 2px solid #15942e;
      transition: all 0.3s ease
    }
  }

.btn-submit {
  color: #fff;
  background-color: #da209f;
  border-bottom: 5px solid #7c135b;
  &:hover {
    margin-top: 3px;
    background-color: #f325b1;
    border-bottom: 2px solid #7c135b;
    transition: all 0.3s ease
  }
}

// footer
.footer {
  color: #999;
  .footer-list {
    list-style: none;
  }
  a {
    color: #999;
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }
}
