/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  header
 .container-fluid {
  padding: 0 0;
 }

 .navbar {
  padding: 0 0;
 }

 .progress-container {
  background: white;
  position: sticky;
  top: 0;
  z-index: 98;
 }

 .progress-bar{
  height: 5px;
  width: 0%;
  background: blue;
 }

// common
 .btn {
  color: #fff;
}

 .list-unstyled {
  margin-bottom: 0;
 }

//  checkup
.checkup-form-container {
  width: 70%;
  margin: 0 auto;
}



.result-container {
  margin: 3rem;
  a {
    text-decoration: none;
  }
}

