// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// before-use
 .btn-quit {
  background-color: #19cbdfd7;
  border-bottom: 5px solid #10818ed7;
  &:hover {
    margin-top: 3px;
    background-color: #1bdff5d7;
    border-bottom: 2px solid #10818ed7;
    transition: all 0.3s ease
  }
}
 .btn-agree {
  background-color: #df19dfd7;
  border-bottom: 5px solid #991199d7;
  &:hover {
    margin-top: 3px;
    background-color: #fc20fcd7;
    border-bottom: 2px solid #991199d7;
    transition: all 0.3s ease
  }
 }
 .cursor-not-allowed {
  cursor: not-allowed;
 }

// index
.index-container {
  .description {
    margin: 0.5rem;
    p {
      display: inline-block;
    }
  }
  .checkup-area {
    margin: 3rem;
  }
  .checkup-btn {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    p {
      margin-left: 1rem;
    }
    .before-checkup-warning {
      display: flex;
    }

    .btn-easy-checkup {
      background-color: #17cf95b8;
      border-bottom: 5px solid #094e389c;
      &:hover {
        margin-top: 3px;
        background-color: #1ef6b2;
        border-bottom: 2px solid #094e389c;
        transition: all 0.3s ease
      }
    }
    .btn-full-checkup {
      background-color: #1764b8;
      border-bottom: 5px solid #0b2f56;
      &:hover {
        margin-top: 3px;
        background-color: #29a3ef;
        border-bottom: 2px solid #0b2f56;
        transition: all 0.3s ease
      }
    }
  }
}

.before-use-container {
  .signup-container {
    margin: 1rem;
  }
  .btn-signup {
    color: #fff;
    background-color: #20da45;
    border-bottom: 5px solid #15942e;
    margin-left: 1rem;
    &:hover {
      margin-top: 3px;
      background-color: #27f751;;
      border-bottom: 2px solid #15942e;
      transition: all 0.3s ease
    }
  }
}

// about
.about-container {
  .description {
    margin: 1.5rem;
  }
}

// terms-of-use
.terms-of-use-main {
  margin: 0.5rem 0;
  h4 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
}

.terms-of-use-container {
    h2 {
    margin-bottom: 1rem;
  }
}

// privacy-policy
.privacy-policy-container {
  h4 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .except li {
    list-style: circle;
  }
  .contact {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}


@media screen and (max-width: 768px) {
  .checkup-btn {
    .before-checkup-warning {
      display: flex;
      flex-direction: column;
    }
}
}


@media screen and (max-width: 428px) {
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}