// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


li {
  &.list_except {
    list-style: circle;
  }
}


.terms-of-use-main{
  h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 0;
  }
}

.terms-of-use-container h2 {
  margin-bottom: 1em;
}