// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// index
.index-container {
  margin: 3rem;
  .checkup-area {
    margin: 3rem;
  }
  .checkup-btn {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    p {
      margin-left: 1.5rem;
      margin-bottom: 0;
    }
  }
}

// about
.about-container {
  margin: 3rem;
  p {
    margin-bottom: 0;
  }
  .description {
    margin: 1.5rem;
  }
}

// terms-of-use
.terms-of-use-main {
  margin: 0.5rem 0;
  h4 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0;
  }
}

.terms-of-use-container {
  margin: 3rem;
    h2 {
    margin-bottom: 1rem;
  }
}

// privacy-policy
.privacy-policy-container {
  margin: 3rem;
  h4 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0;
  }
  .except li {
    list-style: circle;
  }
  .contact {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

// footer
.footer-container {
  margin: 3rem;
  .footer-list {
    list-style: none;
  }
}