あなたにおすすめのサプリは

<% @easy_medical_checkup.recommended_supplements.each do |supplement| %>
  <p><%= link_to supplement.name, "https://jp.iherb.com/search?kw=#{supplement.name}", target: "_blank"%></p>
  <p><%= supplement.description %></p>
<% end %>




なお、サプリメントは栄養補助食品です。
日常の生活を見直しつつ、健康維持のために補助として使っていきましょう。

<% result_for_tweet = "#{@easy_medical_checkup.user.name}さんへのおすすめサプリは！！！、＃＃＃、％％％です！診断結果をチェックしてみてね！" %>

<%= link_to "ツイッターでつぶやく", "https://twitter.com/intent/tweet?text=#{result_for_tweet}", target: "_blank" %>