<nav>
<h1 class='p-3'>さぷリカバー</h1>
  <ul class='list-inline'>
    <li class='list-inline-item'><%= link_to 'Home', root_path %></li>
    <li class='list-inline-item'> <%= link_to 'About', about_path %></li>
    <li class='list-inline-item'><%= link_to 'Contact', contact_path %></li>
  </ul>
</nav>